# JOIN ON

In [2]:
import pandas as pd
import MySQLdb
import time

db = MySQLdb.connect(
    "db.fastcamp.us",
    "root",
    "dkstncks",
    "sakila",
    charset="utf8",
)

cursor = db.cursor()

### WHERE 로 뽑은 경우 (361197개의 열이생김) => 비효율

In [5]:
customer_df = pd.read_sql("SELECT * FROM customer;", db)
address_df = pd.read_sql("SELECT * FROM address;", db)

In [3]:
SQL_QUERY = """
    SELECT *
    FROM
        customer, address
    ;
"""

df = pd.read_sql(SQL_QUERY, db)

In [6]:
len(df), len(customer_df), len(address_df)

(361197, 599, 603)

In [30]:
# SELECT FROM WHERE 를 이용한 무식한 방법

start_timen = time.clock()

SQL_QUERY = """
    SELECT *
    FROM
        customer, address
    WHERE
        customer.address_id = address.address_id
    ;
"""

df = pd.read_sql(SQL_QUERY, db)

end_time = time.clock()

print("SELECT WHERE: {time_spend}".format(time_spend = end_time - start_time))

SELECT WHERE: 20.6858450769

In [11]:
len(df)

599

### JOIN으로 뽑는 경우

In [28]:
# SELECT JOIN 을 이용한 유식한 방법

start_time = time.clock()

SQL_QUERY = """
        JOIN address
        ON customer.address_id = address.address_id
    ;
"""

df = pd.read_sql(SQL_QUERY, db)

end_time = time.clock()

print("SELECT WHERE: {time_spend}".format(time_spend = end_time - start_time))

SELECT WHERE: 0.0662835175314

In [14]:
len(df)

599

### pandas

In [34]:
customer_df = pd.read_sql("SELECT * FROM customer;", db)
customer_df

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36,2006-02-15 04:57:20
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36,2006-02-15 04:57:20
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,1,2006-02-14 22:04:36,2006-02-15 04:57:20
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20
5,6,2,JENNIFER,DAVIS,JENNIFER.DAVIS@sakilacustomer.org,10,1,2006-02-14 22:04:36,2006-02-15 04:57:20
6,7,1,MARIA,MILLER,MARIA.MILLER@sakilacustomer.org,11,1,2006-02-14 22:04:36,2006-02-15 04:57:20
7,8,2,SUSAN,WILSON,SUSAN.WILSON@sakilacustomer.org,12,1,2006-02-14 22:04:36,2006-02-15 04:57:20
8,9,2,MARGARET,MOORE,MARGARET.MOORE@sakilacustomer.org,13,1,2006-02-14 22:04:36,2006-02-15 04:57:20
9,10,1,DOROTHY,TAYLOR,DOROTHY.TAYLOR@sakilacustomer.org,14,1,2006-02-14 22:04:36,2006-02-15 04:57:20
10,11,2,LISA,ANDERSON,LISA.ANDERSON@sakilacustomer.org,15,1,2006-02-14 22:04:36,2006-02-15 04:57:20
11,12,1,NANCY,THOMAS,NANCY.THOMAS@sakilacustomer.org,16,1,2006-02-14 22:04:36,2006-02-15 04:57:20
12,13,2,KAREN,JACKSON,KAREN.JACKSON@sakilacustomer.org,17,1,2006-02-14 22:04:36,2006-02-15 04:57:20
13,14,2,BETTY,WHITE,BETTY.WHITE@sakilacustomer.org,18,1,2006-02-14 22:04:36,2006-02-15 04:57:20
14,15,1,HELEN,HARRIS,HELEN.HARRIS@sakilacustomer.org,19,1,2006-02-14 22:04:36,2006-02-15 04:57:20
15,16,2,SANDRA,MARTIN,SANDRA.MARTIN@sakilacustomer.org,20,0,2006-02-14 22:04:36,2006-02-15 04:57:20
16,17,1,DONNA,THOMPSON,DONNA.THOMPSON@sakilacustomer.org,21,1,2006-02-14 22:04:36,2006-02-15 04:57:20
17,18,2,CAROL,GARCIA,CAROL.GARCIA@sakilacustomer.org,22,1,2006-02-14 22:04:36,2006-02-15 04:57:20
18,19,1,RUTH,MARTINEZ,RUTH.MARTINEZ@sakilacustomer.org,23,1,2006-02-14 22:04:36,2006-02-15 04:57:20
19,20,2,SHARON,ROBINSON,SHARON.ROBINSON@sakilacustomer.org,24,1,2006-02-14 22:04:36,2006-02-15 04:57:20
20,21,1,MICHELLE,CLARK,MICHELLE.CLARK@sakilacustomer.org,25,1,2006-02-14 22:04:36,2006-02-15 04:57:20
21,22,1,LAURA,RODRIGUEZ,LAURA.RODRIGUEZ@sakilacustomer.org,26,1,2006-02-14 22:04:36,2006-02-15 04:57:20
22,23,2,SARAH,LEWIS,SARAH.LEWIS@sakilacustomer.org,27,1,2006-02-14 22:04:36,2006-02-15 04:57:20
23,24,2,KIMBERLY,LEE,KIMBERLY.LEE@sakilacustomer.org,28,1,2006-02-14 22:04:36,2006-02-15 04:57:20
24,25,1,DEBORAH,WALKER,DEBORAH.WALKER@sakilacustomer.org,29,1,2006-02-14 22:04:36,2006-02-15 04:57:20
25,26,2,JESSICA,HALL,JESSICA.HALL@sakilacustomer.org,30,1,2006-02-14 22:04:36,2006-02-15 04:57:20
26,27,2,SHIRLEY,ALLEN,SHIRLEY.ALLEN@sakilacustomer.org,31,1,2006-02-14 22:04:36,2006-02-15 04:57:20
27,28,1,CYNTHIA,YOUNG,CYNTHIA.YOUNG@sakilacustomer.org,32,1,2006-02-14 22:04:36,2006-02-15 04:57:20
28,29,2,ANGELA,HERNANDEZ,ANGELA.HERNANDEZ@sakilacustomer.org,33,1,2006-02-14 22:04:36,2006-02-15 04:57:20
29,30,1,MELISSA,KING,MELISSA.KING@sakilacustomer.org,34,1,2006-02-14 22:04:36,2006-02-15 04:57:20
...,...,...,...,...,...,...,...,...,...
569,570,2,IVAN,CROMWELL,IVAN.CROMWELL@sakilacustomer.org,576,1,2006-02-14 22:04:37,2006-02-15 04:57:20
570,571,2,JOHNNIE,CHISHOLM,JOHNNIE.CHISHOLM@sakilacustomer.org,577,1,2006-02-14 22:04:37,2006-02-15 04:57:20
571,572,1,SIDNEY,BURLESON,SIDNEY.BURLESON@sakilacustomer.org,578,1,2006-02-14 22:04:37,2006-02-15 04:57:20
572,573,1,BYRON,BOX,BYRON.BOX@sakilacustomer.org,579,1,2006-02-14 22:04:37,2006-02-15 04:57:20
573,574,2,JULIAN,VEST,JULIAN.VEST@sakilacustomer.org,580,1,2006-02-14 22:04:37,2006-02-15 04:57:20
574,575,2,ISAAC,OGLESBY,ISAAC.OGLESBY@sakilacustomer.org,581,1,2006-02-14 22:04:37,2006-02-15 04:57:20
575,576,2,MORRIS,MCCARTER,MORRIS.MCCARTER@sakilacustomer.org,582,1,2006-02-14 22:04:37,2006-02-15 04:57:20
576,577,2,CLIFTON,MALCOLM,CLIFTON.MALCOLM@sakilacustomer.org,583,1,2006-02-14 22:04:37,2006-02-15 04:57:20
577,578,2,WILLARD,LUMPKIN,WILLARD.LUMPKIN@sakilacustomer.org,584,1,2006-02-14 22:04:37,2006-02-15 04:57:20
578,579,2,DARYL,LARUE,DARYL.LARUE@sakilacustomer.org,585,1,2006-02-14 22:04:37,2006-02-15 04:57:20
579,580,1,ROSS,GREY,ROSS.GREY@sakilacustomer.org,586,1,2006-02-14 22:04:37,2006-02-15 04:57:20
580,581,1,VIRGIL,WOFFORD,VIRGIL.WOFFORD@sakilacustomer.org,587,1,2006-02-14 22:04:37,2006-02-15 04:57:20
581,582,2,ANDY,VANHORN,ANDY.VANHORN@sakilacustomer.org,588,1,2006-02-14 22:04:37,2006-02-15 04:57:20
582,583,1,MARSHALL,THORN,MARSHALL.THORN@sakilacustomer.org,589,1,2006-02-14 22:04:37,2006-02-15 04:57:20
583,584,2,SALVADOR,TEEL,SALVADOR.TEEL@sakilacustomer.org,590,1,2006-02-14 22:04:37,2006-02-15 04:57:20
584,585,1,PERRY,SWAFFORD,PERRY.SWAFFORD@sakilacustomer.org,591,1,2006-02-14 22:04:37,2006-02-15 04:57:20
585,586,1,KIRK,STCLAIR,KIRK.STCLAIR@sakilacustomer.org,592,1,2006-02-14 22:04:37,2006-02-15 04:57:20
586,587,1,SERGIO,STANFIELD,SERGIO.STANFIELD@sakilacustomer.org,593,1,2006-02-14 22:04:37,2006-02-15 04:57:20
587,588,1,MARION,OCAMPO,MARION.OCAMPO@sakilacustomer.org,594,1,2006-02-14 22:04:37,2006-02-15 04:57:20
588,589,1,TRACY,HERRMANN,TRACY.HERRMANN@sakilacustomer.org,595,1,2006-02-14 22:04:37,2006-02-15 04:57:20
589,590,2,SETH,HANNON,SETH.HANNON@sakilacustomer.org,596,1,2006-02-14 22:04:37,2006-02-15 04:57:20
590,591,1,KENT,ARSENAULT,KENT.ARSENAULT@sakilacustomer.org,597,1,2006-02-14 22:04:37,2006-02-15 04:57:20
591,592,1,TERRANCE,ROUSH,TERRANCE.ROUSH@sakilacustomer.org,598,0,2006-02-14 22:04:37,2006-02-15 04:57:20
592,593,2,RENE,MCALISTER,RENE.MCALISTER@sakilacustomer.org,599,1,2006-02-14 22:04:37,2006-02-15 04:57:20
593,594,1,EDUARDO,HIATT,EDUARDO.HIATT@sakilacustomer.org,600,1,2006-02-14 22:04:37,2006-02-15 04:57:20
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37,2006-02-15 04:57:20
595,596,1,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,602,1,2006-02-14 22:04:37,2006-02-15 04:57:20
596,597,1,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,603,1,2006-02-14 22:04:37,2006-02-15 04:57:20
597,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20

In [32]:
address_df = pd.read_sql("SELECT * FROM address;", db)
address_df

,address_id,address,address2,district,city_id,postal_code,phone,last_update
0,1,47 MySakila Drive,None,Alberta,300,,,2014-09-25 22:30:27
1,2,28 MySQL Boulevard,None,QLD,576,,,2014-09-25 22:30:09
2,3,23 Workhaven Lane,None,Alberta,300,,14033335568,2014-09-25 22:30:27
3,4,1411 Lillydale Drive,None,QLD,576,,6172235589,2014-09-25 22:30:09
4,5,1913 Hanoi Way,,Nagasaki,463,35200,28303384290,2014-09-25 22:31:53
5,6,1121 Loja Avenue,,California,449,17886,838635286649,2014-09-25 22:34:01
6,7,692 Joliet Street,,Attika,38,83579,448477190408,2014-09-25 22:31:07
7,8,1566 Inegl Manor,,Mandalay,349,53561,705814003527,2014-09-25 22:32:18
8,9,53 Idfu Parkway,,Nantou,361,42399,10655648674,2014-09-25 22:33:16
9,10,1795 Santiago de Compostela Way,,Texas,295,18743,860452626434,2014-09-25 22:33:55
10,11,900 Santiago de Compostela Parkway,,Central Serbia,280,93896,716571220373,2014-09-25 22:34:11
11,12,478 Joliet Way,,Hamilton,200,77948,657282285970,2014-09-25 22:32:22
12,13,613 Korolev Drive,,Masqat,329,45844,380657522649,2014-09-25 22:32:29
13,14,1531 Sal Drive,,Esfahan,162,53628,648856936185,2014-09-25 22:31:36
14,15,1542 Tarlac Parkway,,Kanagawa,440,1027,635297277345,2014-09-25 22:31:53
15,16,808 Bhopal Manor,,Haryana,582,10672,465887807014,2014-09-25 22:31:30
16,17,270 Amroha Parkway,,Osmaniye,384,29610,695479687538,2014-09-25 22:33:27
17,18,770 Bydgoszcz Avenue,,California,120,16266,517338314235,2014-09-25 22:33:47
18,19,419 Iligan Lane,,Madhya Pradesh,76,72878,990911107354,2014-09-25 22:31:13
19,20,360 Toulouse Parkway,,England,495,54308,949312333307,2014-09-25 22:33:40
20,21,270 Toulon Boulevard,,Kalmykia,156,81766,407752414682,2014-09-25 22:32:48
21,22,320 Brest Avenue,,Kaduna,252,43331,747791594069,2014-09-25 22:32:25
22,23,1417 Lancaster Avenue,,Northern Cape,267,72192,272572357893,2014-09-25 22:33:03
23,24,1688 Okara Way,,Nothwest Border Prov,327,21954,144453869132,2014-09-25 22:32:30
24,25,262 A Corua (La Corua) Parkway,,Dhaka,525,34418,892775750063,2014-09-25 22:30:12
25,26,28 Charlotte Amalie Street,,Rabat-Sal-Zammour-Z,443,37551,161968374323,2014-09-25 22:32:16
26,27,1780 Hino Boulevard,,Liepaja,303,7716,902731229323,2014-09-25 22:31:58
27,28,96 Tafuna Way,,Crdoba,128,99865,934730187245,2014-09-25 22:30:05
28,29,934 San Felipe de Puerto Plata Street,,Sind,472,99780,196495945706,2014-09-25 22:32:31
29,30,18 Duisburg Boulevard,,,121,58327,998009777982,2014-09-25 22:31:08
...,...,...,...,...,...,...,...,...
573,576,1351 Sousse Lane,,Coahuila de Zaragoza,341,37815,203804046132,2014-09-25 22:32:10
574,577,1501 Pangkal Pinang Avenue,,Mazowieckie,409,943,770864062795,2014-09-25 22:32:43
575,578,1405 Hagonoy Avenue,,Slaskie,133,86587,867287719310,2014-09-25 22:32:42
576,579,521 San Juan Bautista Tuxtepec Place,,Qaraghandy,598,95093,844018348565,2014-09-25 22:31:56
577,580,923 Tangail Boulevard,,Tokyo-to,10,33384,315528269898,2014-09-25 22:31:45
578,581,186 Skikda Lane,,Morelos,131,89422,14465669789,2014-09-25 22:32:05
579,582,1568 Celaya Parkway,,Kaohsiung,168,34750,278669994384,2014-09-25 22:33:15
580,583,1489 Kakamigahara Lane,,Taipei,526,98883,29341849811,2014-09-25 22:33:16
581,584,1819 Alessandria Loop,,Campeche,103,53829,377633994405,2014-09-25 22:32:02
582,585,1208 Tama Loop,,Ninawa,344,73605,954786054144,2014-09-25 22:31:40
583,586,951 Springs Lane,,Central Mindanao,219,96115,165164761435,2014-09-25 22:32:37
584,587,760 Miyakonojo Drive,,Guerrero,246,64682,294449058179,2014-09-25 22:32:08
585,588,966 Asuncin Way,,Hidalgo,212,62703,995527378381,2014-09-25 22:32:07
586,589,1584 Ljubertsy Lane,,England,494,22954,285710089439,2014-09-25 22:33:38
587,590,247 Jining Parkway,,Banjul,54,53446,170115379190,2014-09-25 22:31:04
588,591,773 Dallas Manor,,Buenos Aires,424,12664,914466027044,2014-09-25 22:30:06
589,592,1923 Stara Zagora Lane,,Nantou,546,95179,182178609211,2014-09-25 22:33:17
590,593,1402 Zanzibar Boulevard,,Guanajuato,106,71102,387448063440,2014-09-25 22:32:03
591,594,1464 Kursk Parkway,,Shandong,574,17381,338758048786,2014-09-25 22:30:44
592,595,1074 Sanaa Parkway,,Loja,311,22474,154124128457,2014-09-25 22:30:55
593,596,1759 Niznekamsk Avenue,,al-Manama,14,39414,864392582257,2014-09-25 22:30:11
594,597,32 Liaocheng Way,,Minas Gerais,248,1944,410877354933,2014-09-25 22:30:19
595,598,42 Fontana Avenue,,Fejr,512,14684,437829801725,2014-09-25 22:31:09
596,599,1895 Zhezqazghan Drive,,California,177,36693,137809746111,2014-09-25 22:33:51
597,600,1837 Kaduna Parkway,,Inner Mongolia,241,82580,640843562301,2014-09-25 22:30:37
598,601,844 Bucuresti Place,,Liaoning,242,36603,935952366111,2014-09-25 22:30:37
599,602,1101 Bucuresti Boulevard,,West Greece,401,97661,199514580428,2014-09-25 22:31:07
600,603,1103 Quilmes Boulevard,,Piura,503,52137,644021380889,2014-09-25 22:32:34
601,604,1331 Usak Boulevard,,Vaud,296,61960,145308717464,2014-09-25 22:33:14
602,605,1325 Fukuyama Street,,Heilongjiang,537,27107,288241215394,2014-09-25 22:30:44

In [40]:
customer_with_address_df = pd.merge(
    customer_df,
    address_df,
    on='address_df'
)

KeyError: 'address_df'