# 렌탈횟수가 30회 이상인 유저의 리스트
* customer, rental table

In [1]:
import MySQLdb
import pandas as pd

db = MySQLdb.connect(
    'db.fastcamp.us',
    'root',
    'dkstncks',
    'sakila',
    charset='utf8',
)

In [3]:
pd.read_sql("SELECT * FROM customer;", db).tail(1)

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20

In [4]:
pd.read_sql("SELECT * FROM rental;", db).tail(1)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
16043,16049,2005-08-23 22:50:12,2666,393,2005-08-30 01:01:12,2,2006-02-15 21:30:53

### SQL(SUB QUERY)

In [20]:
# 일단 첫번째로
# 유저별로 몇 번 렌탈했을까? = > 지표를 뽑아내자
SQL_QUERY = """
    SELECT
        rental.customer_id,
        COUNT(rental.customer_id)
    FROM
        rental
    GROUP BY 1
"""

pd.read_sql(SQL_QUERY, db)

     customer_id  COUNT(rental.customer_id)
0              1                         32
1              2                         27
2              3                         26
3              4                         22
4              5                         38
5              6                         28
6              7                         33
7              8                         24
8              9                         23
9             10                         25
10            11                         24
11            12                         28
12            13                         27
13            14                         28
14            15                         32
15            16                         28
16            17                         21
17            18                         22
18            19                         24
19            20                         30
20            21                         35
21            22                         22
22            23                         30
23            24                         25
24            25                         29
25            26                         34
26            27                         31
27            28                         32
28            29                         36
29            30                         34
..           ...                        ...
569          570                         26
570          571                         24
571          572                         25
572          573                         29
573          574                         28
574          575                         29
575          576                         34
576          577                         27
577          578                         22
578          579                         27
579          580                         27
580          581                         27
581          582                         25
582          583                         23
583          584                         30
584          585                         24
585          586                         19
586          587                         26
587          588                         29
588          589                         28
589          590                         25
590          591                         27
591          592                         29
592          593                         26
593          594                         27
594          595                         30
595          596                         28
596          597                         25
597          598                         22
598          599                         19

[599 rows x 2 columns]

In [45]:
# 이후 새로운 쿼리문을 위 쿼리에 customer 테이블을 JOIN 시키자
# cutomer table과 매치시켜줘야함 => SQL을 다른 SQL에 조합가능
SQL_QUERY = """
    SELECT
        rental.customer_id,
        COUNT(rental.customer_id) 'total_count'
    FROM
        rental
    GROUP BY 1
    ;
"""

NEW_SQL_QUERY = """
    SELECT customer.*, rental_per_customer.total_count
    FROM 
        customer
        JOIN ({SQL_QUERY}) AS rental_per_customer
            ON customer.customer_id = rental_per_customer.customer_id
    WHERE rental_per_customer.total_count >= 30
    ;
""".format(
    SQL_QUERY=SQL_QUERY.replace(";", "")
)
# SQL_QUERY가 JOIN부분에 들어갈때 ;떄문에 끝났다고 인식하기때문에 오류가남
# 따라서 replace로 ;를 지워줘야함

# print(NEW_SQL_QUERY)

pd.read_sql(NEW_SQL_QUERY, db)

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update,total_count
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
1,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20,38
2,7,1,MARIA,MILLER,MARIA.MILLER@sakilacustomer.org,11,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
3,15,1,HELEN,HARRIS,HELEN.HARRIS@sakilacustomer.org,19,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
4,20,2,SHARON,ROBINSON,SHARON.ROBINSON@sakilacustomer.org,24,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
5,21,1,MICHELLE,CLARK,MICHELLE.CLARK@sakilacustomer.org,25,1,2006-02-14 22:04:36,2006-02-15 04:57:20,35
6,23,2,SARAH,LEWIS,SARAH.LEWIS@sakilacustomer.org,27,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
7,26,2,JESSICA,HALL,JESSICA.HALL@sakilacustomer.org,30,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
8,27,2,SHIRLEY,ALLEN,SHIRLEY.ALLEN@sakilacustomer.org,31,1,2006-02-14 22:04:36,2006-02-15 04:57:20,31
9,28,1,CYNTHIA,YOUNG,CYNTHIA.YOUNG@sakilacustomer.org,32,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
10,29,2,ANGELA,HERNANDEZ,ANGELA.HERNANDEZ@sakilacustomer.org,33,1,2006-02-14 22:04:36,2006-02-15 04:57:20,36
11,30,1,MELISSA,KING,MELISSA.KING@sakilacustomer.org,34,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
12,35,2,VIRGINIA,GREEN,VIRGINIA.GREEN@sakilacustomer.org,39,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
13,38,1,MARTHA,GONZALEZ,MARTHA.GONZALEZ@sakilacustomer.org,42,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
14,42,2,CAROLYN,PEREZ,CAROLYN.PEREZ@sakilacustomer.org,46,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
15,46,2,CATHERINE,CAMPBELL,CATHERINE.CAMPBELL@sakilacustomer.org,50,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
16,50,1,DIANE,COLLINS,DIANE.COLLINS@sakilacustomer.org,54,1,2006-02-14 22:04:36,2006-02-15 04:57:20,35
17,51,1,ALICE,STEWART,ALICE.STEWART@sakilacustomer.org,55,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
18,53,1,HEATHER,MORRIS,HEATHER.MORRIS@sakilacustomer.org,57,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
19,56,1,GLORIA,COOK,GLORIA.COOK@sakilacustomer.org,60,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
20,64,2,JUDITH,COX,JUDITH.COX@sakilacustomer.org,68,0,2006-02-14 22:04:36,2006-02-15 04:57:20,33
21,66,2,JANICE,WARD,JANICE.WARD@sakilacustomer.org,70,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
22,71,1,KATHY,JAMES,KATHY.JAMES@sakilacustomer.org,75,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
23,72,2,THERESA,WATSON,THERESA.WATSON@sakilacustomer.org,76,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
24,75,2,TAMMY,SANDERS,TAMMY.SANDERS@sakilacustomer.org,79,1,2006-02-14 22:04:36,2006-02-15 04:57:20,41
25,78,1,LORI,WOOD,LORI.WOOD@sakilacustomer.org,82,1,2006-02-14 22:04:36,2006-02-15 04:57:20,31
26,80,1,MARILYN,ROSS,MARILYN.ROSS@sakilacustomer.org,84,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
27,84,2,SARA,PERRY,SARA.PERRY@sakilacustomer.org,88,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
28,86,2,JACQUELINE,LONG,JACQUELINE.LONG@sakilacustomer.org,90,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
29,87,1,WANDA,PATTERSON,WANDA.PATTERSON@sakilacustomer.org,91,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
...,...,...,...,...,...,...,...,...,...,...
148,452,1,TOM,MILNER,TOM.MILNER@sakilacustomer.org,457,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
149,454,2,ALEX,GRESHAM,ALEX.GRESHAM@sakilacustomer.org,459,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
150,459,1,TOMMY,COLLAZO,TOMMY.COLLAZO@sakilacustomer.org,464,1,2006-02-14 22:04:37,2006-02-15 04:57:20,38
151,462,2,WARREN,SHERROD,WARREN.SHERROD@sakilacustomer.org,467,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
152,468,1,TIM,CARY,TIM.CARY@sakilacustomer.org,473,1,2006-02-14 22:04:37,2006-02-15 04:57:20,39
153,469,2,WESLEY,BULL,WESLEY.BULL@sakilacustomer.org,474,1,2006-02-14 22:04:37,2006-02-15 04:57:20,40
154,470,1,GORDON,ALLARD,GORDON.ALLARD@sakilacustomer.org,475,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
155,472,1,GREG,ROBINS,GREG.ROBINS@sakilacustomer.org,477,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
156,473,2,JORGE,OLIVARES,JORGE.OLIVARES@sakilacustomer.org,478,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
157,479,1,ZACHARY,HITE,ZACHARY.HITE@sakilacustomer.org,484,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
158,484,1,ROBERTO,VU,ROBERTO.VU@sakilacustomer.org,489,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
159,494,2,RAMON,CHOATE,RAMON.CHOATE@sakilacustomer.org,499,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
160,499,2,MARC,OUTLAW,MARC.OUTLAW@sakilacustomer.org,504,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
161,502,1,BRETT,CORNWELL,BRETT.CORNWELL@sakilacustomer.org,507,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
162,503,1,ANGEL,BARCLAY,ANGEL.BARCLAY@sakilacustomer.org,508,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
163,506,2,LESLIE,SEWARD,LESLIE.SEWARD@sakilacustomer.org,511,1,2006-02-14 22:04:37,2006-02-15 04:57:20,35
164,513,2,DUANE,TUBBS,DUANE.TUBBS@sakilacustomer.org,519,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
165,520,2,MITCHELL,WESTMORELAND,MITCHELL.WESTMORELAND@sakilacustomer.org,526,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
166,522,2,ARNOLD,HAVENS,ARNOLD.HAVENS@sakilacustomer.org,528,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
167,526,2,KARL,SEAL,KARL.SEAL@sakilacustomer.org,532,1,2006-02-14 22:04:37,2006-02-15 04:57:20,45
168,532,2,NEIL,RENNER,NEIL.RENNER@sakilacustomer.org,538,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
169,533,1,JESSIE,MILAM,JESSIE.MILAM@sakilacustomer.org,539,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
170,535,1,JAVIER,ELROD,JAVIER.ELROD@sakilacustomer.org,541,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
171,550,2,GUY,BROWNLEE,GUY.BROWNLEE@sakilacustomer.org,556,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
172,560,1,JORDAN,ARCHULETA,JORDAN.ARCHULETA@sakilacustomer.org,566,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
173,566,1,CASEY,MENA,CASEY.MENA@sakilacustomer.org,572,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
174,569,2,DAVE,GARDINER,DAVE.GARDINER@sakilacustomer.org,575,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
175,576,2,MORRIS,MCCARTER,MORRIS.MCCARTER@sakilacustomer.org,582,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
176,584,2,SALVADOR,TEEL,SALVADOR.TEEL@sakilacustomer.org,590,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
177,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30

### SQL(HAVING)
* HAVING 은 GROUP BY 연산이 끝난 후 조건이 적용
* WHERE 은 GROUP BY 연산 전에 조건이 적용되므로 오류가 발생하는것임

In [42]:
# 그룹바이를 하고나서야 카운트를 할수가 있는데 
# 그전에 WHERE를 적용하기 때문에 계산이 안됨
# WHERE -> HAVING 으로 해야함(연산이 끝난 상태에서 계산을 하는것임)
SQL_QUERY = """
    SELECT
        rental.customer_id,
        COUNT(rental.customer_id) 'total_count'
    FROM
        rental
    GROUP BY 1
    HAVING COUNT(rental.customer_id) >= 30
    ;
"""

NEW_SQL_QUERY = """
    SELECT customer.*, rental_per_customer.total_count
    FROM
        customer
        JOIN ({SQL_QUERY}) AS rental_per_customer
            ON customer.customer_id = rental_per_customer.customer_id
    ;
""".format(
    SQL_QUERY = SQL_QUERY.replace(";","")
)


pd.read_sql(NEW_SQL_QUERY, db)

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update,total_count
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
1,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20,38
2,7,1,MARIA,MILLER,MARIA.MILLER@sakilacustomer.org,11,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
3,15,1,HELEN,HARRIS,HELEN.HARRIS@sakilacustomer.org,19,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
4,20,2,SHARON,ROBINSON,SHARON.ROBINSON@sakilacustomer.org,24,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
5,21,1,MICHELLE,CLARK,MICHELLE.CLARK@sakilacustomer.org,25,1,2006-02-14 22:04:36,2006-02-15 04:57:20,35
6,23,2,SARAH,LEWIS,SARAH.LEWIS@sakilacustomer.org,27,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
7,26,2,JESSICA,HALL,JESSICA.HALL@sakilacustomer.org,30,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
8,27,2,SHIRLEY,ALLEN,SHIRLEY.ALLEN@sakilacustomer.org,31,1,2006-02-14 22:04:36,2006-02-15 04:57:20,31
9,28,1,CYNTHIA,YOUNG,CYNTHIA.YOUNG@sakilacustomer.org,32,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
10,29,2,ANGELA,HERNANDEZ,ANGELA.HERNANDEZ@sakilacustomer.org,33,1,2006-02-14 22:04:36,2006-02-15 04:57:20,36
11,30,1,MELISSA,KING,MELISSA.KING@sakilacustomer.org,34,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
12,35,2,VIRGINIA,GREEN,VIRGINIA.GREEN@sakilacustomer.org,39,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
13,38,1,MARTHA,GONZALEZ,MARTHA.GONZALEZ@sakilacustomer.org,42,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
14,42,2,CAROLYN,PEREZ,CAROLYN.PEREZ@sakilacustomer.org,46,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
15,46,2,CATHERINE,CAMPBELL,CATHERINE.CAMPBELL@sakilacustomer.org,50,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
16,50,1,DIANE,COLLINS,DIANE.COLLINS@sakilacustomer.org,54,1,2006-02-14 22:04:36,2006-02-15 04:57:20,35
17,51,1,ALICE,STEWART,ALICE.STEWART@sakilacustomer.org,55,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
18,53,1,HEATHER,MORRIS,HEATHER.MORRIS@sakilacustomer.org,57,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
19,56,1,GLORIA,COOK,GLORIA.COOK@sakilacustomer.org,60,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
20,64,2,JUDITH,COX,JUDITH.COX@sakilacustomer.org,68,0,2006-02-14 22:04:36,2006-02-15 04:57:20,33
21,66,2,JANICE,WARD,JANICE.WARD@sakilacustomer.org,70,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
22,71,1,KATHY,JAMES,KATHY.JAMES@sakilacustomer.org,75,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
23,72,2,THERESA,WATSON,THERESA.WATSON@sakilacustomer.org,76,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
24,75,2,TAMMY,SANDERS,TAMMY.SANDERS@sakilacustomer.org,79,1,2006-02-14 22:04:36,2006-02-15 04:57:20,41
25,78,1,LORI,WOOD,LORI.WOOD@sakilacustomer.org,82,1,2006-02-14 22:04:36,2006-02-15 04:57:20,31
26,80,1,MARILYN,ROSS,MARILYN.ROSS@sakilacustomer.org,84,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
27,84,2,SARA,PERRY,SARA.PERRY@sakilacustomer.org,88,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
28,86,2,JACQUELINE,LONG,JACQUELINE.LONG@sakilacustomer.org,90,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
29,87,1,WANDA,PATTERSON,WANDA.PATTERSON@sakilacustomer.org,91,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
...,...,...,...,...,...,...,...,...,...,...
148,452,1,TOM,MILNER,TOM.MILNER@sakilacustomer.org,457,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
149,454,2,ALEX,GRESHAM,ALEX.GRESHAM@sakilacustomer.org,459,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
150,459,1,TOMMY,COLLAZO,TOMMY.COLLAZO@sakilacustomer.org,464,1,2006-02-14 22:04:37,2006-02-15 04:57:20,38
151,462,2,WARREN,SHERROD,WARREN.SHERROD@sakilacustomer.org,467,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
152,468,1,TIM,CARY,TIM.CARY@sakilacustomer.org,473,1,2006-02-14 22:04:37,2006-02-15 04:57:20,39
153,469,2,WESLEY,BULL,WESLEY.BULL@sakilacustomer.org,474,1,2006-02-14 22:04:37,2006-02-15 04:57:20,40
154,470,1,GORDON,ALLARD,GORDON.ALLARD@sakilacustomer.org,475,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
155,472,1,GREG,ROBINS,GREG.ROBINS@sakilacustomer.org,477,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
156,473,2,JORGE,OLIVARES,JORGE.OLIVARES@sakilacustomer.org,478,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
157,479,1,ZACHARY,HITE,ZACHARY.HITE@sakilacustomer.org,484,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
158,484,1,ROBERTO,VU,ROBERTO.VU@sakilacustomer.org,489,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
159,494,2,RAMON,CHOATE,RAMON.CHOATE@sakilacustomer.org,499,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
160,499,2,MARC,OUTLAW,MARC.OUTLAW@sakilacustomer.org,504,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
161,502,1,BRETT,CORNWELL,BRETT.CORNWELL@sakilacustomer.org,507,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
162,503,1,ANGEL,BARCLAY,ANGEL.BARCLAY@sakilacustomer.org,508,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
163,506,2,LESLIE,SEWARD,LESLIE.SEWARD@sakilacustomer.org,511,1,2006-02-14 22:04:37,2006-02-15 04:57:20,35
164,513,2,DUANE,TUBBS,DUANE.TUBBS@sakilacustomer.org,519,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
165,520,2,MITCHELL,WESTMORELAND,MITCHELL.WESTMORELAND@sakilacustomer.org,526,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
166,522,2,ARNOLD,HAVENS,ARNOLD.HAVENS@sakilacustomer.org,528,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
167,526,2,KARL,SEAL,KARL.SEAL@sakilacustomer.org,532,1,2006-02-14 22:04:37,2006-02-15 04:57:20,45
168,532,2,NEIL,RENNER,NEIL.RENNER@sakilacustomer.org,538,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
169,533,1,JESSIE,MILAM,JESSIE.MILAM@sakilacustomer.org,539,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
170,535,1,JAVIER,ELROD,JAVIER.ELROD@sakilacustomer.org,541,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
171,550,2,GUY,BROWNLEE,GUY.BROWNLEE@sakilacustomer.org,556,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
172,560,1,JORDAN,ARCHULETA,JORDAN.ARCHULETA@sakilacustomer.org,566,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
173,566,1,CASEY,MENA,CASEY.MENA@sakilacustomer.org,572,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
174,569,2,DAVE,GARDINER,DAVE.GARDINER@sakilacustomer.org,575,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
175,576,2,MORRIS,MCCARTER,MORRIS.MCCARTER@sakilacustomer.org,582,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
176,584,2,SALVADOR,TEEL,SALVADOR.TEEL@sakilacustomer.org,590,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
177,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30

### pandas
* JOIN => merge
* WHERE => 행렬곱

In [47]:
customer_df = pd.read_sql("SELECT * FROM customer;", db)
customer_df.tail(2)

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
597,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20

In [48]:
rental_df = pd.read_sql("SELECT * FROM rental;", db)
rental_df.tail(2)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
16042,16048,2005-08-23 22:43:07,2019,103,2005-08-31 21:33:07,1,2006-02-15 21:30:53
16043,16049,2005-08-23 22:50:12,2666,393,2005-08-30 01:01:12,2,2006-02-15 21:30:53

In [87]:
import numpy as np
rental_per_count_df = rental_df.groupby('customer_id').agg({
        'rental_id' : np.size,
    })
#rental_per_count_df.tail()

In [88]:
rental_per_count_df.rename(columns={'rental_id' : 'rental_count'}, inplace=True)
#rental_per_count_df.tail()

In [89]:
rental_per_count_df['customer_id'] = rental_per_count_df.index # merge시키기위해 index칼럼을 추가함
#rental_per_count_df.tail()

In [90]:
customer_with_rental_count_df = pd.merge(customer_df, rental_per_count_df, on='customer_id')
#customer_with_rental_count_df.tail()

In [82]:
customer_with_rental_count_df[customer_with_rental_count_df['rental_count'] >= 30]

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update,rental_count
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20,38
6,7,1,MARIA,MILLER,MARIA.MILLER@sakilacustomer.org,11,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
14,15,1,HELEN,HARRIS,HELEN.HARRIS@sakilacustomer.org,19,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
19,20,2,SHARON,ROBINSON,SHARON.ROBINSON@sakilacustomer.org,24,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
20,21,1,MICHELLE,CLARK,MICHELLE.CLARK@sakilacustomer.org,25,1,2006-02-14 22:04:36,2006-02-15 04:57:20,35
22,23,2,SARAH,LEWIS,SARAH.LEWIS@sakilacustomer.org,27,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
25,26,2,JESSICA,HALL,JESSICA.HALL@sakilacustomer.org,30,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
26,27,2,SHIRLEY,ALLEN,SHIRLEY.ALLEN@sakilacustomer.org,31,1,2006-02-14 22:04:36,2006-02-15 04:57:20,31
27,28,1,CYNTHIA,YOUNG,CYNTHIA.YOUNG@sakilacustomer.org,32,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
28,29,2,ANGELA,HERNANDEZ,ANGELA.HERNANDEZ@sakilacustomer.org,33,1,2006-02-14 22:04:36,2006-02-15 04:57:20,36
29,30,1,MELISSA,KING,MELISSA.KING@sakilacustomer.org,34,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
34,35,2,VIRGINIA,GREEN,VIRGINIA.GREEN@sakilacustomer.org,39,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
37,38,1,MARTHA,GONZALEZ,MARTHA.GONZALEZ@sakilacustomer.org,42,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
41,42,2,CAROLYN,PEREZ,CAROLYN.PEREZ@sakilacustomer.org,46,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
45,46,2,CATHERINE,CAMPBELL,CATHERINE.CAMPBELL@sakilacustomer.org,50,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
49,50,1,DIANE,COLLINS,DIANE.COLLINS@sakilacustomer.org,54,1,2006-02-14 22:04:36,2006-02-15 04:57:20,35
50,51,1,ALICE,STEWART,ALICE.STEWART@sakilacustomer.org,55,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
52,53,1,HEATHER,MORRIS,HEATHER.MORRIS@sakilacustomer.org,57,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
55,56,1,GLORIA,COOK,GLORIA.COOK@sakilacustomer.org,60,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
63,64,2,JUDITH,COX,JUDITH.COX@sakilacustomer.org,68,0,2006-02-14 22:04:36,2006-02-15 04:57:20,33
65,66,2,JANICE,WARD,JANICE.WARD@sakilacustomer.org,70,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
70,71,1,KATHY,JAMES,KATHY.JAMES@sakilacustomer.org,75,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
71,72,2,THERESA,WATSON,THERESA.WATSON@sakilacustomer.org,76,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
74,75,2,TAMMY,SANDERS,TAMMY.SANDERS@sakilacustomer.org,79,1,2006-02-14 22:04:36,2006-02-15 04:57:20,41
77,78,1,LORI,WOOD,LORI.WOOD@sakilacustomer.org,82,1,2006-02-14 22:04:36,2006-02-15 04:57:20,31
79,80,1,MARILYN,ROSS,MARILYN.ROSS@sakilacustomer.org,84,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
83,84,2,SARA,PERRY,SARA.PERRY@sakilacustomer.org,88,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
85,86,2,JACQUELINE,LONG,JACQUELINE.LONG@sakilacustomer.org,90,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
86,87,1,WANDA,PATTERSON,WANDA.PATTERSON@sakilacustomer.org,91,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
...,...,...,...,...,...,...,...,...,...,...
451,452,1,TOM,MILNER,TOM.MILNER@sakilacustomer.org,457,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
453,454,2,ALEX,GRESHAM,ALEX.GRESHAM@sakilacustomer.org,459,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
458,459,1,TOMMY,COLLAZO,TOMMY.COLLAZO@sakilacustomer.org,464,1,2006-02-14 22:04:37,2006-02-15 04:57:20,38
461,462,2,WARREN,SHERROD,WARREN.SHERROD@sakilacustomer.org,467,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
467,468,1,TIM,CARY,TIM.CARY@sakilacustomer.org,473,1,2006-02-14 22:04:37,2006-02-15 04:57:20,39
468,469,2,WESLEY,BULL,WESLEY.BULL@sakilacustomer.org,474,1,2006-02-14 22:04:37,2006-02-15 04:57:20,40
469,470,1,GORDON,ALLARD,GORDON.ALLARD@sakilacustomer.org,475,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
471,472,1,GREG,ROBINS,GREG.ROBINS@sakilacustomer.org,477,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
472,473,2,JORGE,OLIVARES,JORGE.OLIVARES@sakilacustomer.org,478,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
478,479,1,ZACHARY,HITE,ZACHARY.HITE@sakilacustomer.org,484,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
483,484,1,ROBERTO,VU,ROBERTO.VU@sakilacustomer.org,489,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
493,494,2,RAMON,CHOATE,RAMON.CHOATE@sakilacustomer.org,499,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
498,499,2,MARC,OUTLAW,MARC.OUTLAW@sakilacustomer.org,504,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
501,502,1,BRETT,CORNWELL,BRETT.CORNWELL@sakilacustomer.org,507,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
502,503,1,ANGEL,BARCLAY,ANGEL.BARCLAY@sakilacustomer.org,508,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
505,506,2,LESLIE,SEWARD,LESLIE.SEWARD@sakilacustomer.org,511,1,2006-02-14 22:04:37,2006-02-15 04:57:20,35
512,513,2,DUANE,TUBBS,DUANE.TUBBS@sakilacustomer.org,519,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
519,520,2,MITCHELL,WESTMORELAND,MITCHELL.WESTMORELAND@sakilacustomer.org,526,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
521,522,2,ARNOLD,HAVENS,ARNOLD.HAVENS@sakilacustomer.org,528,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
525,526,2,KARL,SEAL,KARL.SEAL@sakilacustomer.org,532,1,2006-02-14 22:04:37,2006-02-15 04:57:20,45
531,532,2,NEIL,RENNER,NEIL.RENNER@sakilacustomer.org,538,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
532,533,1,JESSIE,MILAM,JESSIE.MILAM@sakilacustomer.org,539,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
534,535,1,JAVIER,ELROD,JAVIER.ELROD@sakilacustomer.org,541,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
549,550,2,GUY,BROWNLEE,GUY.BROWNLEE@sakilacustomer.org,556,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
559,560,1,JORDAN,ARCHULETA,JORDAN.ARCHULETA@sakilacustomer.org,566,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
565,566,1,CASEY,MENA,CASEY.MENA@sakilacustomer.org,572,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
568,569,2,DAVE,GARDINER,DAVE.GARDINER@sakilacustomer.org,575,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
575,576,2,MORRIS,MCCARTER,MORRIS.MCCARTER@sakilacustomer.org,582,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
583,584,2,SALVADOR,TEEL,SALVADOR.TEEL@sakilacustomer.org,590,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30