# SQL(WHERE) & pandas(행렬곱) - world(db)
* 인구수 1억 이상인 국가를 뽑아라

In [1]:
import MySQLdb
import pandas as pd

db = MySQLdb.connect(
    'db.fastcamp.us',
    'root',
    'dkstncks',
    'world',
    charset='utf8',
)

cursor = db.cursor()

---
### SQL(WHERE & ORDER BY DESC)

In [8]:
SQL_QUERY = """
    SELECT *
    FROM Country
    WHERE Population > 100000000
    ORDER BY Population DESC
    ;
"""

pd.read_sql(SQL_QUERY, db)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,CHN,China,Asia,Eastern Asia,9572900,-1523,1277558000,71.4,982268,917719,Zhongquo,People'sRepublic,Jiang Zemin,1891,CN
1,IND,India,Asia,Southern and Central Asia,3287263,1947,1013662000,62.5,447114,430572,Bharat/India,Federal Republic,Kocheril Raman Narayanan,1109,IN
2,USA,United States,North America,North America,9363520,1776,278357000,77.1,8510700,8110900,United States,Federal Republic,George W. Bush,3813,US
3,IDN,Indonesia,Asia,Southeast Asia,1904569,1945,212107000,68.0,84982,215002,Indonesia,Republic,Abdurrahman Wahid,939,ID
4,BRA,Brazil,South America,South America,8547403,1822,170115000,62.9,776739,804108,Brasil,Federal Republic,Fernando Henrique Cardoso,211,BR
5,PAK,Pakistan,Asia,Southern and Central Asia,796095,1947,156483000,61.1,61289,58549,Pakistan,Republic,Mohammad Rafiq Tarar,2831,PK
6,RUS,Russian Federation,Europe,Eastern Europe,17075400,1991,146934000,67.2,276608,442989,Rossija,Federal Republic,Vladimir Putin,3580,RU
7,BGD,Bangladesh,Asia,Southern and Central Asia,143998,1971,129155000,60.2,32852,31966,Bangladesh,Republic,Shahabuddin Ahmad,150,BD
8,JPN,Japan,Asia,Eastern Asia,377829,-660,126714000,80.7,3787042,4192638,Nihon/Nippon,Constitutional Monarchy,Akihito,1532,JP
9,NGA,Nigeria,Africa,Western Africa,923768,1960,111506000,51.6,65707,58623,Nigeria,Federal Republic,Olusegun Obasanjo,2754,NG

### pandas

In [7]:
df = pd.read_sql("SELECT * FROM Country;", db)

df[df['Population'] > 100000000].sort_values('Population', ascending=False)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
42,CHN,China,Asia,Eastern Asia,9572900,-1523,1277558000,71.4,982268,917719,Zhongquo,People'sRepublic,Jiang Zemin,1891,CN
100,IND,India,Asia,Southern and Central Asia,3287263,1947,1013662000,62.5,447114,430572,Bharat/India,Federal Republic,Kocheril Raman Narayanan,1109,IN
224,USA,United States,North America,North America,9363520,1776,278357000,77.1,8510700,8110900,United States,Federal Republic,George W. Bush,3813,US
99,IDN,Indonesia,Asia,Southeast Asia,1904569,1945,212107000,68.0,84982,215002,Indonesia,Republic,Abdurrahman Wahid,939,ID
31,BRA,Brazil,South America,South America,8547403,1822,170115000,62.9,776739,804108,Brasil,Federal Republic,Fernando Henrique Cardoso,211,BR
165,PAK,Pakistan,Asia,Southern and Central Asia,796095,1947,156483000,61.1,61289,58549,Pakistan,Republic,Mohammad Rafiq Tarar,2831,PK
182,RUS,Russian Federation,Europe,Eastern Europe,17075400,1991,146934000,67.2,276608,442989,Rossija,Federal Republic,Vladimir Putin,3580,RU
22,BGD,Bangladesh,Asia,Southern and Central Asia,143998,1971,129155000,60.2,32852,31966,Bangladesh,Republic,Shahabuddin Ahmad,150,BD
110,JPN,Japan,Asia,Eastern Asia,377829,-660,126714000,80.7,3787042,4192638,Nihon/Nippon,Constitutional Monarchy,Akihito,1532,JP
156,NGA,Nigeria,Africa,Western Africa,923768,1960,111506000,51.6,65707,58623,Nigeria,Federal Republic,Olusegun Obasanjo,2754,NG

---
### SQL(COUNT)

In [10]:
SQL_QUERY = """
    SELECT COUNT(*)
    FROM Country
    WHERE Population > 100000000
    ORDER BY Population DESC
    ;
"""

pd.read_sql(SQL_QUERY, db)

   COUNT(*)
0        10

### pandas

In [23]:
df = pd.read_sql("SELECT * FROM Country;", db)

len(df[df['Population'] > 100000000])

10