# JupyterNotebook에서 DB활용하기
* pip install mysqlclient

**0. MySQLdb import 하기**

In [1]:
import MySQLdb

**1. DB에 연결하기**

In [3]:
# 파이썬을 이용하여 MySQL에 연결하는 방법
db = MySQLdb.connect(
    "db.fastcamp.us",
    "root",
    "dkstncks",
    "jkeun_sample",
    charset='utf8',
)

**2. cursor(위치) 만들기**

In [4]:
# cursor란 DB에서 위치를 알려주는 역할
cursor = db.cursor()

**3. execute() : 명령문 실행하기**

In [5]:
cursor.execute("SHOW DATABASES;")
cursor.fetchall()

((u'information_schema',),
 (u'JAYWHY',),
 (u'JEONGEUNSEOP',),
 (u'JessieB',),
 (u'angie0829',),
 (u'beomheepark',),
 (u'bright_sample',),
 (u'chibok_sample',),
 (u'chibok_sample2',),
 (u'dobestan',),
 (u'dobestan_sample',),
 (u'goldstar_sample',),
 (u'gs_samples',),
 (u'higee_sample',),
 (u'jkeun_sample',),
 (u'jones_sample',),
 (u'kcchoi_sample',),
 (u'kty_sample',),
 (u'leo_sample',),
 (u'mysql',),
 (u'obolosample',),
 (u'performance_schema',),
 (u'sakila',),
 (u'sechang_sample',),
 (u'sibadog_sample',),
 (u'sunghwan_sample',),
 (u'valentine',),
 (u'world',),
 (u'yanghwi_sample',),
 (u'yudaesung_sample',))

In [6]:
# db와 연결 끊음
# db.close()

In [7]:
SQL_QUERY ="""
    INSERT INTO room 
    (
        address,
        phonenumber,
        deposit,
        rent
    )
    VALUES
    (
        'Seoul, Korea',
        '010-0000-0000',
        '10000',
        '500'
    );
"""

cursor.execute(SQL_QUERY)

1L

**4. db.commit : DB에 저장하기**

In [19]:
db.commit()

In [20]:
# mysql에서 보면 옛날꺼 그대로있음
# 데이터베이스의경우 사람들이 실수할수도 있기때문에 데이터를 추가하거나 업데이트,
# 삭제하는 것을 조심스럽게 해야하므로 commit으로 해야함

In [21]:
cursor.execute("SELECT * FROM room;")
cursor.fetchall()

((u'????? ??? ???? 4F', u'010-0000-0000', 10000L, 200L),
 (u'Seoul, Korea', u'010-0000-0000', 10000L, 500L))

**5. DB => pd.DataFrame 불러오기**

In [22]:
import pandas as pd
pd.read_sql("SELECT * FROM room;", db)

             address    phonenumber  deposit  rent
0  ????? ??? ???? 4F  010-0000-0000    10000   200
1       Seoul, Korea  010-0000-0000    10000   500